* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#gamecanvas {
    border:5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: none;
}

#sidecanvas{
    border:5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(250px, -50%);
    cursor: none;
}

#player {
    display: none;
}

#background {
    display: none;
}

.audio {
    display: none;
}

.hidden-button {
    position: absolute;
    overflow: hidden;
    opacity: 1;
    padding: 10px 10px 10px 10px;
}

#pauseM {
    position: absolute;
    left: 60px
}

#start {
    position: absolute;
    top:20%;
    left: 50%;
}